
<app-slider *ngIf="global.info.slider" ></app-slider>

<app-categories *ngIf="global.info.categories"></app-categories>
<app-banners  *ngIf="global.info.banners"></app-banners>
<app-populeri *ngIf="global.info.populeri"></app-populeri>

<app-cortina *ngIf="global.info.cortina"></app-cortina>
<app-popular *ngIf="global.info.popular"></app-popular >

 <app-deal  *ngIf="global.info.deal"></app-deal>


 <app-top-sale *ngIf="global.info.topSale"></app-top-sale>
<app-special-grid  *ngIf="global.info.special" ></app-special-grid>
