<main class="main__content_wrapper">
        
    <!-- Start breadcrumb section -->
    <section class="breadcrumb__section breadcrumb__bg">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="breadcrumb__content text-center">
                        <ul class="breadcrumb__content--menu d-flex justify-content-center">
                            <!-- <li class="breadcrumb__content--menu__items"><a href="">Biendenido a Servicios Volkswagen Blanca</a></li> -->
                            <!-- <li class="breadcrumb__content--menu__items"><span>Account</span></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb section -->

    <!-- Start login section  -->
    <div class="login__section section--padding">
        <div class="container">
            <!-- <form action=""> -->
                <div class="login__section--inner">
                    <div class="row row-cols-md-3 row-cols-1">
                        <div clas="col"></div>
                        <div class="col" [hidden]="global.registring">
                         <app-sign-in></app-sign-in>
                        </div>
                        <div class="col" [hidden]="!global.registring">
                            <app-sign-up></app-sign-up>
                        </div>
                    </div>
                </div>
            <!-- </form> -->
        </div>     
    </div>
    <!-- End login section  -->


</main>
